<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <ul class="flex gap-2">
      <li><a routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="hover:cursor-pointer">Login</a></li>
      <li><a routerLink="/auth/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="hover:cursor-pointer">Register</a></li>
    </ul>
    <div>
      <span class="font-semibold text-lg text-white" (click)="logout()">Logout</span>
    </div>
  </nav>