<div class="bg-page flex h-full items-center justify-center">
<section class="flex flex-col w-full sm:w-auto sm:h-auto sm:rounded-md bg-white/10 backdrop-blur-md border border-white/20 shadow-2xl">
<form class="flex-1 flex flex-col gap-1 text-slate-200 p-6 m-6 sm:p-4 sm:min-w-96"  [formGroup]="registerForm">
    <h2 class="text-xl font-bold mb-2">Register</h2>
  
    <label for="email">Email</label>
    <input class="input" type="email" id="email" formControlName="email">

    <label for="username">Username</label>
    <input class="input" type="text" id="username" formControlName="username">
    <label for="password">Password</label>
    <input class="input" type="password" id="password" formControlName="password">
    <button type="submit" (click)="onSubmit()">Register</button>

  </form>
  </section>
</div>
