<p>add-profile works!</p>

<form [formGroup]="addProfileForm" class="">

  <button type="'submit">Save</button>
</form>
<!-- TODO

To add profile I would need to get the users

Username
name
Area
self-rating stars
Speed
skill
physical
vision (passing and through balls)
Finishing (high for finishing and high for power)

Bio: which will be optional (if played for a country or other experiences)

A user can only have one profile and one self self-rating
and can only review a player once or update said rating -->

